@use "../abstract/mixins" as mix;
@use "../abstract/variables" as vari;

/* responsive */

@include mix.media-xl {
    .container {
        width: 80%;
    }

    .container1 {
        width: 50%;
    }

    .side-bar {
        width: 80%;
    }

    .main-event {
        width: 80%;
    }

    .opacity {
        bottom: 5px;
        height: 217px;
    }
}


@include mix.media-lg {

    .header {
        width: 100%;
        height: auto;
    }
    .container {
        width: 80%;

    }

    .container1 {
        width: 50%;
    }

    .side-bar {
        width: 80%;
    }

    .main-event {
        width: 80%;
    }

    .opacity {
        bottom: 2%;
        height: 95%;
    }

    .section::after {
        height: 44.5375rem;
    }
}

@include mix.media-md {

    .header {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .container {
        width: 60%;
        margin-left: 200px;
    }

    .search {
        display: none;
    }

    .nav-ul {
        opacity: 0;
        visibility: hidden;
    }

    .navbar__bars {
        color: #fff;
        opacity: 1 !important;
        top: 22px;
        right: 45px;
        font-size: 2rem;
    }

    .side-bar {
        width: 100%;
        margin: 72px 0 10px 0;

        &__paragraf {
            margin-right: 200px;
        }

        &__heading {
            margin-left: -40px;
        }

        &__text {
            font-size: 1em;
        }

        &__h2 {
            font-size: 2em;
            padding-bottom: .5em;
        }

        &__p {
            font-size: 1em;
            line-height: 22px;
        }
    }

    .main-event {
        width: 100%;

        &__text {
            width: 100%;
            flex-wrap: wrap;
            padding: 1.5rem 0 1.8rem 1.5rem;
            box-sizing: border-box;
        }
        &__item {
            padding-right: 0;

            & .absolute img {
                width: 120px;
                height: 205px;
                position: relative;
                top: 0;
                padding-left: .7rem;
            }
        }
    }
    .opacity {
        bottom: 0%;
        height: 20rem;
    }

    .container1 {
        width: 30%;
    }

    .section::after {
        height: 108%;
    }

}

@include mix.media-md-x {

    .header {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .container {
        width: 60%;
        margin-left: 130px;
    }

    .search {
        display: none;
    }

    .nav-ul {
        opacity: 0;
        visibility: hidden;
    }

    .navbar__bars {
        color: #fff;
        opacity: 1 !important;
        top: 22px;
        right: 55px;
        font-size: 2rem;
    }

    .side-bar {
        width: 100%;
        margin: 72px 0 10px 0;

        &__paragraf {
            margin-right: 156px;
        }

        &__heading {
            width: 100%;
        }

        &__text {
            font-size: 1em;
        }

        &__h2 {
            font-size: 2em;
            padding-bottom: .5em;
        }

        &__p {
            font-size: 1em;
            line-height: 22px;
            width: 80%;
        }
    }

    .main-event {
        width: 100%;
        margin-top: 4rem;


        &__text {
            width: 100%;
            flex-wrap: wrap;
            padding: 1.5rem 0 1.8rem 1.5rem;
            box-sizing: border-box;
        }
        &__item {
            padding-right: 0;

            & .absolute img {
                width: 120px;
                height: 205px;
                position: relative;
                top: 0;
                padding-left: .7rem;
            }
        }
    }
    .opacity {
        width: 103%;
        bottom: 3%;
        height: 25rem;
    }

    .section {
        width: 10%;
    }

    .section::after {
        height: 128%;
    }

    .left-section__block {
        margin-bottom: 28rem;
    }

    .left-section__block::after {
        width: 100%;
    }

    .container1 {
        width: 30%;
    }

}

@include mix.media-sm {
    .header {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .container {
        width: 60%;
        margin-left: 118px;
    }

    .search {
        display: none;
    }

    .nav-ul {
        opacity: 0;
        visibility: hidden;
    }

    .navbar__bars {
        color: #fff;
        opacity: 1 !important;
        top: 22px;
        right: 55px;
        font-size: 2rem;
    }

    .side-bar {
        width: 100%;
        margin: 72px 0 10px 0;
        flex-direction: column;

        &__paragraf {
            margin-right: 240px;
        }

        &__heading {
            width: 100%;
        }

        &__text {
            font-size: 1em;
        }

        &__h2 {
            font-size: 2em;
            padding-bottom: .5em;
        }

        &__p {
            font-size: 1em;
            line-height: 22px;
            width: 80%;
        }
    }

    .main-event {
        width: 100%;
        flex-direction: column;
        margin: 125px 0 0 -52px ;


        &__text {
            width: 100%;
            flex-wrap: wrap;
            padding: 1.5rem 0 1.8rem 1.5rem;
            box-sizing: border-box;
        }
        &__item {
            padding-bottom: 0;


            & .absolute img {
                width: 65px;
                height: 65px;
                position: relative;
                top: 44px;
                left: -76px;
                padding-left: .7rem;
            }
        }
    }
    .opacity {
        width: 98%;
        bottom: 3%;
        left: 5px;
        height: 32rem;
    }

    .section {
        width: 10%;
    }

    .section::after {
        height: 155%;
    }

    .left-section__block::after {
        width: 100%;
    }

    .container1 {
        width: 30%;
    }
} 

@include mix.media-sm-x {
    .header {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .navbar {
        width: 100%;
        justify-content: flex-start;
        margin-left: -17px;
    }

    .container {
        width: 60%;
        margin-left: 118px;
    }

    .search {
        display: none;
    }

    .nav-ul {
        opacity: 0;
        visibility: hidden;
    }

    .navbar__bars {
        color: #fff;
        opacity: 1 !important;
        top: 22px;
        right: 55px;
        font-size: 2rem;
    }

    .side-bar {
        width: 100%;
        margin: 72px 0 10px 0;
        flex-direction: column;

        &__paragraf {
            margin-right: 159px;
        }

        &__heading {
            width: 100%;
        }

        &__text {
            font-size: 1em;
        }

        &__h2 {
            font-size: 2em;
            padding-bottom: .5em;
        }

        &__p {
            font-size: 1em;
            line-height: 22px;
            width: 80%;
        }
    }

    .main-event {
        width: 100%;
        flex-direction: column;
        margin: 238px 0 0 -52px ;


        &__text {
            width: 100%;
            flex-wrap: wrap;
            padding: 1.5rem 0 1.8rem 1.5rem;
            box-sizing: border-box;
        }
        &__item {
            padding-bottom: 0;


            & .absolute img {
                width: 51px;
                height: 51px;
                position: relative;
                top: 44px;
                left: -8px;
                padding-left: .7rem;
            }
        }
    }
    .opacity {
        width: 104%;
        bottom: 3%;
        height: 38rem;
    }

    .section {
        width: 10%;
    }

    .section::after {
        height: 185%;
    }

    .left-section__block::after {
        width: 100%;
    }

    .container1 {
        width: 30%;
    }
} 

@include mix.media-sm-x1 {
    .header {
        width: 163%;
    }    

    .section::after {
        height: 175%;
    }
}